html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

#header {
	background-color: darkred;
	height: 100px;
	margin-bottom: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#header .menu {
	text-align: center;
}

#header .menu h1 {
	font-size: 5vw;
	text-align: center;
	position: relative;
	margin: 0;
	color: #fff;
}

#header .logo {
	float: left;
	object-fit: contain;
	height: 86%;
	margin: 4px;
	position: absolute;
	border: 1px solid #000;
}

#header .menu .menubar {
	display: block;
	margin: 4px;
}

#header .menu .menubar li {
	color: #fff;
	display: inline-block;
	padding: 8px;
	font-size: 3vw;
}

#header .menu .menubar .active a {
	color: darkblue;
}

#header .menu .menubar a {
	color: #fff;
	text-decoration: none;
}

.bar {
	height: 5px;
	background-color: black;
}

#body .house {
	width: 100%;
}

#body .bodywrap {
	padding-top: 100px;
}

#body .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-top: 2px solid black;
	margin: auto;
}

#body .row .left {
	margin: auto;
	flex: 0 0 20%;
	text-align: center;
}

#body .row .left h3 {
	font-size: 5vw;
	color: darkred;
}

#body .row .middle {
	margin: auto;
	flex: 0 0 60%;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#body .row .right {
	margin: auto;
	flex: 0 0 20%;
	text-align: center;
}

#body .row .right h3 {
	font-size: 5vw;
	color: darkred;
}

#body .row .right ul {
	text-align: left;
}

#body .row .right li {
	width: 80%;
	margin: auto;
	font-size: 4vw;
}

#body .row .middle h2 {
	color: darkred;
	font-size: 7vw;
}

#body .row .middle p {
	font-size: 4vw;
	width: 80%;
	margin: auto;
	text-align: center;
}

#body .row .middle h3 {
	font-size: 5vw;
}

#body .row .middle li {
	font-size: 4vw;
}

#body .row .middle button {
	padding: 1.5vw 6vw;
	border-radius: 0;
	background-color: darkred;
	margin-top: 3vw;
	border: 1px solid black;
	margin-bottom: 3vw;
}

#body .row .middle button a {
	font-size: 4vw;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#body .bodywrap {
	text-align: center;
	margin: auto;
}

#body .bodywrap .contactwrap {
	text-align: center;
	margin: auto;
	height: 60%;
	width: 50%;
}

#body .bodywrap h2 {
	margin-top: 3vw;
	margin-bottom: 3vw;
	font-size: 5vw;
	color: darkred;
}

@media only screen and (min-width: 768px) {
	#body .bodywrap h2 {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 275%;
		color: darkred;
	}
}

#body .bodywrap p {
	margin-bottom: 30px;
	font-size: 125%;
	width: 60%;
	margin: auto;
}

@media only screen and (min-width: 768px) {
	#body .bodywrap p {
		margin-bottom: 30px;
		font-size: 125%;
	}
}

#body .bodywrap input {
	width: 50%;
	text-align: center;
}

#body .form-row {
	width: 80%;
	margin: auto;
}

#footer {
	text-align: center;
	background-color: darkred;
	overflow: auto;
}

#footer .footer_container {
	width: 100%;
	overflow: auto;
	margin: auto;
	min-height: auto;
	border-top: 2px solid black;
}

#footer .footer_container .footer_head {
	font-weight: bold;
	font-size: 300%;
}

#footer .footer_container .row {
	width: 100%;
}

#footer .footer_container .row p {
	width: 75%;
	color: white;
	margin: auto;
}

#footer .footer_container .check {
	height: 1.8em;
	float: center; 
	margin-left: auto; 
	margin-right: auto;
}

#footer .footer_container h1 {
	color: white;
	font-size: 200%;
	display: inline;
	margin-left: auto; 
	margin-right: auto;
}

#footer .footer_container .row .left {
	width: 33%;
	float: left;
}

#footer .footer_container .row .middle {
	width: 33%;
	float: left;
}

#footer .footer_container .row .right {
	width: 33%;
	float: left;
}

#footertags {
	background-color: darkred;
}

#footertags p {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	#body .bodywrap {
		max-width: 768px;
		margin: auto;
		padding: 0 15px;
	}
	#body .bodywrap p {
		width: 100%;
	}
}
